doctype html
html(lang='en')

    head

        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
        if meta.isDebug
            link(href='/static/css/metadata.css' rel='stylesheet')
        title= title

    body

        div.container-fluid.d-flex.flex-column.vh-100
            each slot in slots

                if meta.isDebug
                    div.metadata
                        button.collapsible Widget Metadata
                        div.collapsible-content
                            pre= JSON.stringify(slot, null, 2)

                div.slot(class='slot-' + slot.id)
                    != slot.widget.content

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous' async=true)
        if meta.isDebug
            script(src='/static/js/metadata.js', async=true)
